<div class="banner">
  <h1>Welcome to the Lists Page!</h1>
</div>

<br>

<div class="container">
  <h2>Lists created:</h2>
  <ul>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %></li>
  <% end %>
  </ul>
</div>
